/* Global */

body {
    background-color: azure;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

img {
    display: block;
    width: 100%;
}


/* Navigation */

.nav {
    display: flex;
    justify-content: end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:black;
    color: white;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem;
}

.nav-list a:hover {
    color:black;
    background: white;
    font-style: italic;
}

/* Main */

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  height: 100vh;
  background: azure;
}

/* Projects */

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
}

.projects-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid black;
    font-size: 1.7rem;
    text-align: center;
}

.project-grid {
    content: '';
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}  

.project-title {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 0.5rem;
}


.project-tile {
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border: 1px solid black;
    filter: blur(10px);
    -webkit-filter: blur(2px);
    transition: all 1000ms;
}

.project-tile:hover {
    filter: blue(0px);
    -webkit-filter: blur(0px);
}


.project-image {
    content: '';
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}


