/* Global */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #C2B2B4;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

img {
    display: block;
    width: 100%;
}


    


/* Navigation */

.nav {
    display: flex;
    justify-content: end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:black;
    color: white;
    z-index: 10;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem;
}

.nav-list a:hover {
    color:black;
    background: white;
    font-style: italic;
}

/* Main */

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  height: 100vh;
  width: 100vw;
  background: azure;
}

/* Projects */

.project-section {
    text-align: center;
    padding: 5rem 2rem;
    background-color: #1d2d44;
<<<<<<< HEAD
=======
    height: 100%;
>>>>>>> portfolio
    width: 100%;
}

.projects-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.1rem solid white;
    color: white;
    font-size: 1.7rem;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.project-grid {
    content: '';
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}  

.project-title {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 0.5rem;
}


.project-tile {
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border: 1px solid black;
    border-radius: 5px;
    filter: blur(10px);
    -webkit-filter: blur(2px);
    transition: all 1000ms;
}

.project-tile:hover {
    filter: blue(0px);
    -webkit-filter: blur(0px);
}


.project-image {
    content: '';
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 1.5rem 1rem;
<<<<<<< HEAD
    background-color: #6096ba;
    border-radius: 5px;
    font-weight: 600;
}

.btn:hover {
=======
    border-radius: 5px;
}

.btn-github {
    background-color: #6096ba;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 15px;
    margin: 2px auto;
}

.btn-github:hover {
>>>>>>> portfolio
    background-color: white;
    color: #6096ba;  
    transition: 250ms
}

<<<<<<< HEAD
/* Icons */
=======
.social-link {
    font-size: 1.2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    text-align: center;
    padding-right: 5px;
    margin: 20px 50px;
    display: inline-block;

}

.social-link:hover {
    color: black;
    font-size: 1.2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

/* Social */

.social {
    background-color: #C2B2B4;
    max-height: 900px;
    width: 100vw;
}

.social-header {
    font-size: 2.5rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
}

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Media Queries */

@media (max-width: 500px) {
    h2 {
        font-size: 0.75rem;
    }
}

>>>>>>> portfolio

